html, body {
  width: 400px;
  margin: 5px;
  background-color: #D6E4F9;
}

.page-choice {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.page-choice:hover {
  background-color:  #92b8f4;
}
.form{
	margin: 15px;
  margin-bottom: 20px;
}
#stat_div{
  margin-left: 5%;
  margin-bottom: 5%;
}